asgiref==3.11.1
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.1.8
colorama==0.4.6
contourpy==1.2.1
cryptography==46.0.5
cycler==0.12.1
distlib==0.3.7
Django==5.2.12
django-allauth==65.15.0
django-allauth-ui==1.8.1
django-pwa==2.0.1
django-widget-tweaks==1.5.1
Faker==40.11.0
filelock==3.12.2
Flask==3.1.0
fonttools==4.52.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe==3.0.2
matplotlib==3.9.0
numpy==1.25.2
opencv-python==4.8.0.76
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==3.10.0
pycparser==3.0
PyJWT==2.12.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
slippers==0.6.2
sqlparse==0.5.5
threadpoolctl==3.5.0
typeguard==2.13.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==20.24.2
Werkzeug==3.1.3
